
.image {
    margin-bottom: 20px; 
}

.Titulos{
    font-size: 100px;
    position: absolute;
    z-index: 999;
    background-color: rgb(255, 255, 255,0.1);
}


.Arduino{
    top:2000px;
}
.Kalimba{
    top:3000px;
}
.Banco{
    top:4000px;
}

body{
	margin:auto;
}

h1{
    color:azure;
    text-align: center;
    position: relative;
    top: 50px;
    font-size: 80px;
    display:block;
}


.TituloRS{
    display: none;
}

.somos{
    top: 350px;
}
.hacemos{
    top:1100px;
}
   
.e19_26 { 
	background-color:rgba(255, 255, 255, 1);
	width:auto;
	height:auto;
}

#audio {
    position: relative;
    left: 50%;
    top:200px;
    transform: translateX(-50%);
}

.textSMove{
	
}


.e19_30 { 
	width:1920px;
	height:400px;
	position:absolute;
	left:0px;
	top:-17px;
    background-position: center bottom;
	background-image:url(https://raw.githubusercontent.com/LEeoWW/LightDrop.github.io/main/pexels-jose-d´alessandro-9510830.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}

.HemHeader{
    width:1920px;
	height:400px;
	position:absolute;
	left:0px;
	top:-17px;
    background-position: center bottom;
	background-image:url( https://raw.githubusercontent.com/LEeoWW/LightDrop.github.io/main/fotoUpsteam/hemisferic.jpg);
	background-repeat:no-repeat;
	background-size:cover;
   
}

.RFHeader{
    width:1920px;
	height:400px;
	position:absolute;
	left:0px;
	top:-17px;
    background-position: center;
	background-image:url( https://raw.githubusercontent.com/LEeoWW/LightDrop.github.io/main/fotoUpsteam/Casco1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}



.MainHeader{
    width:1920px;
	height:400px;
	position:absolute;
	left:0px;
	top:-17px;
    background-position: center bottom;
	background-image:url(https://raw.githubusercontent.com/LEeoWW/LightDrop.github.io/main/fotoUpsteam/ciudadArtesCiencias1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
    
}

.NuevaHeader{
    width:1920px;
	height:400px;
	position:absolute;
	left:0px;
	top:-17px;
    background-position: center bottom;
	background-image:url(https://raw.githubusercontent.com/LEeoWW/LightDrop.github.io/main/fotoUpsteam/parque1.jpg);
	background-repeat:no-repeat;
	background-size:cover;

}

.e19_27 { 
	background-color:rgba(106.12607851624489, 179.9886354804039, 117.94409796595573, 0.3700000047683716);
	width:1920px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
}
.e19_28 { 
	color:rgba(255, 255, 255, 1);
	width:753px;
	height:45px;
    position:absolute;
	left:621px;
	top:47px;
	font-family:Italiana;
	text-align:center;
	font-size:128px;
	letter-spacing:0;
}
.fondo { /*31*/
	width:1920px;
	height:5000px;
	position:absolute;
	left:0px;
	top:329px;
	background-image:url(https://raw.githubusercontent.com/LEeoWW/LightDrop.github.io/main/fotoUpsteam/ciudadArtesCiencias1.jpg);
	background-repeat: repeat-y; 
    background-attachment: fixed;
	background-size:cover;
}
.transparent { /*32*/
	background-color:rgba(106.12607851624489, 179.9886354804039, 117.94409796595573, 0.3700000047683716);
	width:1920px;
	height:700px;
	position:absolute;
}

.trans1{
    left:0px;
	top:272px;
}


.trans2{
    left:0px;
	top:1101px;
}

.barra { /*35*/
	background-color:rgba(196.69896841049194, 230.4573753476143, 210.20242542028427, 1);
	width:1920px;
	height:55px;
	position:absolute;
	left:0px;
	top:284px;
}
.text { 
	color:rgba(0, 0, 0, 1);
	width:575px;
	height:632px;
	position:absolute;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
    color:#000000; ;
    background-color:rgba(245, 241, 241,0.2);
}

.text1{/*36,39*/
    left:183px;
	top:480px;
    font-size: 30px;
    font-style: italic;
    
}
.text2 { 
	left:183px;
	top:1233px;
    font-size: 30px;
    font-style: italic;
	
}

.text3{
    left:183px;
	top:2233px;
    font-size: 30px;
    font-style: italic;
}
.text4{
    left:183px;
	top:3233px;
    font-size: 30px;
    font-style: italic;
}
.text5{
    left:183px;
	top:4233px;
    font-size: 30px;
    font-style: italic;
}


.textmove{
    transform: translate(0,-100px);
}

.fotocirculo { /*37*/
	border-radius:500px;
	width:630px;
	height:581px;
	position:absolute;
	left:949px;
	top:352px;
	/*background-image:url(https://raw.githubusercontent.com/LEeoWW/LightDrop.github.io/main/umbracle-descubre.jpg);*/
	background-repeat:no-repeat;
	background-size:cover;
}

.fotomain1{background-image:url(https://raw.githubusercontent.com/LEeoWW/LightDrop.github.io/main/fotoUpsteam/IconoLightDrop.jpg)
}

.fotoumbracle1{
    background-image:url(https://raw.githubusercontent.com/LEeoWW/LightDrop.github.io/main/umbracle-descubre.jpg);
    top: 350px;
    width:630px;
	height:582px;
}

.fotohem1{
    background-image:url(https://raw.githubusercontent.com/LEeoWW/LightDrop.github.io/main/fotoUpsteam/hemisferic2.jpg);
    top: 350px;
    width:630px;
	height:582px;
}

.fotocasc1{
    background-image:url(https://raw.githubusercontent.com/LEeoWW/LightDrop.github.io/main/fotoUpsteam/Casco1.jpg);
    top: 350px;
    width:630px;
	height:582px;
}

.fotonueva1{
    background-image:url(https://raw.githubusercontent.com/LEeoWW/LightDrop.github.io/main/fotoUpsteam/parque2.jpg);
    top: 350px;
    width:630px;
	height:582px;
}

.fotoarduino1{
    background-image:url(https://raw.githubusercontent.com/LEeoWW/LightDrop.github.io/main/fotoUpsteam/arduino1.jpg);
    top: 2350px;
    width:630px;
	height:582px;

}
.fotok{
    background-image:url(https://raw.githubusercontent.com/LEeoWW/LightDrop.github.io/main/fotoUpsteam/kalimba.jpg);
    top: 3350px;
    width:630px;
	height:582px;

}
.fotob{
    background-image:url(https://raw.githubusercontent.com/LEeoWW/LightDrop.github.io/main/fotoUpsteam/banco.jpg);
    top: 4350px;
    width:630px;
	height:582px;

}



#umbracle1{
    display: none;
    position: relative;
    top: 700px;
    width: 300px;
    height: 250px;
    border-radius:500px;
    left:0%;
}

#umbracle2{
    display: none;
    position: relative;
    top: 1470px;
    width: 300px;
    height: 250px;
    border-radius:500px;
}
#fotoK{
    display: none;
    position: relative;
    top: 3470px;
    width: 300px;
    height: 250px;
    border-radius:500px;
}
#fotoB{
    display: none;
    position: relative;
    top: 4470px;
    width: 300px;
    height: 250px;
    border-radius:500px;
}


#arduino11{
    display: none;
    position: relative;
    top: 2470px;
    width: 300px;
    height: 250px;
    border-radius:500px; 
}



.e19_41 { 
	border-radius:500px;
	width:630px;
	height:582px;
	position:absolute;
	left:949px;
	top:1147px;
	background-image:url(https://raw.githubusercontent.com/LEeoWW/LightDrop.github.io/main/Umbracle-nuevo.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.proyecto{
	border-radius:500px;
	width:630px;
	height:582px;
	position:absolute;
	left:949px;
	top:1147px;
	background-image:url(https://raw.githubusercontent.com/LEeoWW/LightDrop.github.io/main/fotoUpsteam/proyecto1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}


.puente{
    border-radius:500px;
	width:630px;
	height:582px;
	position:absolute;
	left:949px;
	top:1307px;
	background-image:url(https://raw.githubusercontent.com/LEeoWW/LightDrop.github.io/main/fotoUpsteam/arpa.jpg);
	background-repeat:no-repeat;
	background-size:cover;
    z-index: 9999999;
}

@media screen and (max-width: 600px) {

    body{
	margin:auto;
    }

    ul{
	width:75vw !important;
    }


	
    .e19_27 {
        width: 100vw;
    }
    .e19_28 {
        width:100%;
        height:100%;
        left:unset;
        font-size: 400%;
   }
   .e19_30{
    width: 100vw;
    height: 70vw;
   }
   .fondo,.e19_33,.e19_32,.barra,.MainHeader,.transparent,.HemHeader,.NuevaHeader,.RFHeader{
    width: 100vw;
   }

   .text1,.text2,.text3,.text4,.text5{
    width: 100vw;
    font-size: 95%;
    left: 0%;

   }
.e19_37,.e19_41{
    width: 100vw;
    display: none;
}

   #volver{
    display: block;
   }



   #umbracle1,#umbracle2,#arduino11,#fotoK,#fotoB{
    display: inline;
    z-index: 9999;
    position: absolute;
    transform: translate(10px, 20px);
   }

   .Titulos{
    width: 100vw;
    font-size: 200%;
    transform: translate(0,60px);

   }
    
   .fotomain1,.fotoumbracle1,h1,.fotonueva1,.fotoarduino1,.fotohem1,.fotocasc1,.fotob,.fotok,.puente{
    display: none;
   }

   .TituloRS{
    display: inline;
   }
  
   .transMenu{
    position: fixed !important;
    top:auto !important;
    bottom:280px !important;
    left:0px !important;
   }

    /*.e19_26, .e19_30, .e19_27 {
        width: 100%;
        height: auto;
        position: relative;
    }

    .e19_28 {
        width: 100%;
        font-size: 24px;
        text-align: center;
        left: 0;
        top: 0;
    }
    */
    /* top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);*/
    
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: absolute;
    top:228px;
    left:8px;
    z-index:9999999999;
   
}

.dropbtn:focus {
    display: block;
}

.btnMain,dropdown-content{
    top: 269px;
    left: 8px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 33px 12px;
    text-decoration: none;
    display: block;
    animation: fadeIn 0.5s ease;
}

.dropdown-content:focus {
    display: block;
}

.dropdown-content a:focus {
    display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #64FF74;
}



.transMenu{
    position: absolute;
    top:62px;
    left:1792px;
    z-index: 9999999999;
}





ul {
    position: absolute;
    top: 286px;
    z-index: 99999;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    left:80px;
    
}

.ulMain{
    top: 290px;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #29df22;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#scrollToTopBtn:hover {
    background-color: #93ff72;
} 




@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
