body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.fondo { /*31*/
	width:1920px;
	height:1815px;
	position:absolute;
	left:0px;
	top:329px;
	background-image:url(https://raw.githubusercontent.com/LEeoWW/LightDrop.github.io/main/fotoUpsteam/ciudadArtesCiencias1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}

.GHeader{
    width:1920px;
	height:400px;
	position:absolute;
	left:0px;
	top:-17px;
    background-position: center bottom;
	background-image:url(https://raw.githubusercontent.com/LEeoWW/LightDrop.github.io/main/fotoUpsteam/galery1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}

.gallery-container {
    position: relative;
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
    max-height: 2000px;
    
    border-style:solid;
	border-width:medium;
}

.casco{
    top: 400px;
}


.gallery img {
    width: 500px; /* 设置图片初始宽度 */
    height: auto; /* 让高度根据宽度自适应 */
    transition: transform 0.3s ease; /* 添加过渡效果 */
}

.gallery img:hover {
    transform: scale(1.5); /* 图片放大到原始尺寸的1.2倍 */
}

.gallery {
    display: flex;
    overflow-x: hidden;
}

.slide {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
}

.slide img {
    max-width: 100%;
    max-height: 400px;
    margin: auto;
    display: block;
}

.caption {
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

#prevBtn, #nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    top:220px;
    z-index: 9999;
}

.btnMain,dropdown-content{
    top:220px;/*!!!!!!!!!!!!!!*/
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top:0;/*!!!!!!!!!!!!!!*/
    right: 0;
    background-color: rgba(255, 255, 255, 0.3);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 28px 16px;
    text-decoration: none;
    display: block;
    animation: fadeIn 0.5s ease;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #64FF74;
}


.e19_28 { 
	color:rgba(255, 255, 255, 1);
	width:753px;
	height:45px;
    position:absolute;
	left:621px;
	top:47px;
	font-family:Italiana;
	text-align:center;
	font-size:128px;
	letter-spacing:0;
}




ul {
    position: relative;
    top: 220px;
    z-index: 99999;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #29df22;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#scrollToTopBtn:hover {
    background-color: #93ff72;
} 



@media screen and (max-width: 600px) {
    

   .fondo,.GHeader{
    width: 100vw;
   }


   .Titulos{
    width: 100vw;
    font-size: 200%;
    transform: translate(0,60px);

   }
    
   .fotomain1,.fotoumbracle1,h1{
    display: none;
   }

   .TituloRS{
    display: inline;
   }

   .e19_28 {
    width:100%;
    height:100%;
    left:unset;
    font-size: 400%;
}
}
